* {
  font-family: "微软雅黑";
}
/*
--------------common---------
*/

.my-navbar {background:#fff;box-shadow: 0 1px 4px 0 rgba(0,0,0,.12);}  
button.navbar-toggle {background-color:#999;}/*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/  
button.navbar-toggle > span.icon-bar {background-color:#dedede} 

/* 普通菜单项的颜色和背景  */
.my-navbar .navbar-nav>li>a {
    color: #000;
}

/* 普通菜单项hover时的字体颜色和背景  */
.my-navbar .navbar-nav>li>a:hover, 
.my-navbar .navbar-nav>li>a:focus {
    color: #f00;
    background-color: transparent;
}
.thumbnail
{
	padding:1px;
}
.thumbnail div img{
  transition:transform 0.5s ease-in-out;
  webkit-transition:transform 0.5s ease-in-out; 
  -moz-transition:transform 0.5s ease-in-out; 
  -o-transition:transform 0.5s ease-in-out; 
  
}
.thumbnail div img:hover{
   transform:scale(1.2);
   -webkit-transform:scale(1.2);
   -moz-transform:scale(1.2);
   -o-transform:scale(1.2);
   -ms-transform:scale(1.2);
   cursor:hand;
}
.navbar-brand:hover
{
	cursor:hand;
}
.pic-num {
	position:relative;
	margin-right:5px;
    margin-top: -25px;
    padding: 0 6px;
    height: 20px;
    background: #000;
    background: rgba(0,0,0,.5);
    border-radius: 10px;
    color: #fafafa;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}
#particles{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#intro {
  position: absolute;
  left: 0;
  top: 0%;
  padding: 0 20px;
  width: 100%;
}

.index-user-nav,.index-user-nav ul {
    list-style:none;
    margin:0;
    padding:0;
}

.index-user-nav {
    position:relative;
}

.index-user-nav ul {
    height:0;
    left:0;
    overflow:hidden;
    position:absolute;
    top:35px;
}

.index-user-nav li {
    float:left;
    position:relative;
}

.index-user-nav li a {
    color:#ff0000;
    display:block;
    font-size:14px;
    line-height:35px;
    padding:1px 1px;
    margin-right:20px;
    text-decoration:none;
}
.index-user-nav li:hover ul.subs {
    height:auto;
    width:50px;
    border:1px solid #999;
    border-radius:5px;
}

.index-user-nav ul li {
    width:100%;
}

.index-user-nav li:hover ul li {
    background:#fff;
}

.index-user-nav ul li a {
    color:#999;
    line-height:35px;
    width:100%;
}

.index-user-nav ul li a:hover {
    background:#dedede;
}

/*
--------------index.jsp---------
*/

.index-content{
  width: 95%;
  margin: 0 auto;
  margin-top: 70px;
}
.index-content2{
  margin-top: 20px;
}
.index-content3{
  width: 95%;
  margin: 0 auto;
}
.index-fontBottom
{
  font-size: 10px;
  color: #999;
  margin-top: 5px;
}
.index-bottom{
  text-align: center;
  text-decoration: underline;
  font-size: 12px;
  text-decoration: none;
  color: #000;
  height:50px;
  background:#fff;
  line-height: 50px;
  box-shadow: 0px -1px 2px 0px rgba(0,0,0,.12);
}
.index-bottom a:link{color:000}
.index-active
{
  color: #f00;
  border-bottom: 2px solid #f85959;
}
.index-btn-login
{
	width:50px;
	height:30px;
	margin-right:10px;
	background:#ED4040;
	line-height:30px;
	text-align: center;
	color:#fff;
	cursor:hand;
}
.index-btn-loginout
{
	position: absolute;
}
/*
--------------tutiao.jsp---------
*/

.tutiao-content{
  width: 95%;
  margin: 0 auto;
  margin-top: 70px;
}
.tutiao-content3{
  width: 95%;
  margin: 0 auto;
}
.tutiao-fontBottom
{
  font-size: 10px;
  color: #999;
  margin-top: 5px;
}
.tutiao-pic-left
{
  position: absolute;
  left: 50px;
  top: 40%;
  background: rgba(0,0,0,.5);
  height: 21px;
  transition:scale(2.5) ; 
  -webkit-transform:scale(2.5) ; 
  -moz-transform:scale(2.5) ; 
  -o-transform:scale(2.5) ; 
}
.tutiao-cursor-left
{
  cursor: url(../images/mouse-left.cur),auto;
}
.tutiao-pic-right
{
  right:50px;
  top: 40%;
  background: rgba(0,0,0,.5);
  height: 100px;
  text-align: center;
  line-height: 100px;
  
}
.tutiao-cursor-right
{
  cursor:url(../images/mouse-right.cur),auto;
}
.tutiao-abstract-index
{
    font-family: Georgia;
    font-size: 18px;
    color: #101010;
    line-height: 36px;
    margin-right: 8px;
}
.tutiao-abstract-index>em {
    font-size: 36px;
    color: #ED4040;
    font-weight: 400;
    font-family: Georgia;
}
.panel-body>h3 {
    position: relative;
    font-size: 18px;
    color: #222;
    line-height: 18px;
    padding-left: 12px;
    margin-bottom: 16px;
    margin-top: 6px;
    font-weight: 700;
}
.tutiao-panel-body-d
{
    font-size: 18px;
    color: #222;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.tutiao-d-large-show{
 position: absolute;
 top:60px;
 width:100%;
 } 
#tutiao-btn-pinglun
{
	cursor:hand;
}
.tutiao-btn-zan
{
cursor:hand;
}
/*
--------------login.jsp---------
*/
.login-logo-wrap
{
  width:85px;
  height:27px;
  margin:20px;
}
.login-logo-wrap:hover
{
	cursor:hand;
}
.login-content
{
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10%;
  background: #fff;
}
#login-btn-login
{
  background:#ED4040;
  color:#fff;
  height:40px;
  margin-top: 30px;
  line-height: 40px;
  text-align: center;
  margin-left: 18%;
  margin-right: 30%;
  padding-left: 0%;
  padding-right: 0%;
}
#login-btn-login:hover
{
  cursor: hand;
}
#login-btn-toreg
{
  color:#ED4040;
  height:40px;
  width:70px;
  margin-top: -40px;
  line-height: 40px;
  text-align: center;
  margin-left: 68%;
  margin-right: 10%;
}
#login-btn-toreg:hover
{
  cursor: hand;
}

/*
--------------regist.jsp---------
*/
.regist-logo-wrap
{
  width:85px;
  height:27px;
  margin:20px;
}
.regist-logo-wrap:hover
{
	cursor:hand;
}
.regist-content
{
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10%;
  background: #fff;
}
#regist-btn-reg
{
  background:#ED4040;
  color:#fff;
  height:40px;
  margin-top: 30px;
  line-height: 40px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 0%;
  padding-right: 0%;
}
#regist-btn-reg:hover
{
  cursor: hand;
}

/*
--------------error.jsp---------
*/
.error-logo-wrap
{
  width:85px;
  height:27px;
  margin:20px;
}
.error-logo-wrap:hover
{
	cursor:hand;
}
.error-content
{
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10%;
  background: #fff;
}